################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoApi/.vs/TodoApi/FileContentIndex
/TodoApi/TodoApi/bin/Debug/net8.0
/TodoApi/TodoApi/obj
